<a class="bubble arrow-up" href="#">
    <i class="fas fa-fw fa-arrow-up"></i>
</a>
<a class="bubble thumbs-up" href="javascript:;">
    <i class="fas fa-fw fa-thumbs-up"></i>
</a>
<a class="bubble commenting" href="javascript:;">
    <i class="fas fa-fw fa-commenting"></i>
</a>
<a class="bubble rmb" href="javascript:;">
    <label for="checkbox-reward">
        <i class="fas fa-fw fa-rmb"></i>
    </label>
</a>
<a class="bubble qrcode" href="javascript:;">
    <i class="fas fa-fw fa-qrcode"></i>
    <div class="url-qrcode-box">
        <div id="qrcode"></div>
    </div>
</a>

