<div class="tip center">文章有帮到你的话，请我喝杯奶茶吧(｡◕ˇ∀ˇ◕)</div>

<input type="checkbox" class="reward-input" name="reward" id="checkbox-reward" hidden>
<label class="reward-button" for="checkbox-reward">赞赏</label>
<div class="reward-box">
    <div class="close-button"><label for="checkbox-reward"><i class="fa fa-times"></i><label></div>
    <div class="qrcode"><img loading="lazy" src="/img/alipay_qrcode.jpg" title="XX笔记-支付宝" alt="XX笔记-支付宝"><span>支付宝</span></div>
    <div class="qrcode"><img loading="lazy" src="/img/weichat_qrcode.jpg" title="XX笔记-微信" alt="XX笔记-微信"><span>微信</span></div>
</div>
