<div class="tip center">文章有帮到你的话，给我投喂吧(｡◕ˇ∀ˇ◕)</div>

<input type="checkbox" class="reward-input" name="reward" id="checkbox-reward" hidden>
<label class="reward-button" for="checkbox-reward">赞赏</label>
<div class="reward-box">
    <div class="box-header">
        <div class="box-title">投喂</div>
        <div class="close-button"><label for="checkbox-reward"><i class="fa fa-times"></i><label></div>
    </div>
    <div class="qrcode"><span>支付宝</span><img loading="lazy" src="/img/alipay_qrcode.png" title="XX笔记-支付宝" alt="XX笔记-支付宝"></div>
    <div class="qrcode"><span>微信</span><img loading="lazy" src="/img/wechat_qrcode.png" title="XX笔记-微信" alt="XX笔记-微信"></div>
    <div class="box-footer">🍭吃块糖果，心情好；🍗加个鸡腿，没烦恼；🥤喝杯奶茶，青春不老</div>
</div>
